[submodule "practice-for-prepwork-css-layout"]
	path = https://github.com/toxa-dev/appacademy-projects/practice-for-prepwork-css-layout.git
	url = https://github.com/toxa-dev/practice-for-prepwork-css-layout.git
